#retry{
  position: fixed;
  left: 0;
  right: 0;
  min-width: 200px;
  width: 50%;
  max-width: 300px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 8px 10px 8px;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15pt;
  color: white;
  background-image:linear-gradient(to bottom , orange, darkorange);
  box-shadow: 0px 5px 16px #ccc;
}
