div {
  display: block;
  text-align: center;

}

#friendcounter {
  min-width: 300px;
  width: 50%;
  max-width: 500px;
  padding: 10px 10px 15px 10px;
  margin: 20px auto;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15pt;
  color: black;
  background-image:linear-gradient(to bottom right, white, #ccc);
  box-shadow: 0px 5px 16px #ccc;
}

.name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size-adjust: auto;
  text-align: left;
  padding: 10px 0px 0px 10px;
}

#background {
  background-color: #Fefefe;
}
#contentbody {
  margin: 0 auto;
}
.liketext {
  text-align:left;
  font-size: 8pt;
  max-width:200px;
  margin:10px;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 10px;
}


.content {
  min-width: 300px;
  width: 50%;
  max-width: 500px;
  padding: 0px 0px 10px 0px;
  border: 10px;
  margin: 10px auto;
  background: #fff;
  text-align: left;
  box-shadow: 0px 5px 16px #ccc;
}

.contentimage {
  width: 100%;

}

.fbbutton {
  margin: 10px 0px 0px 10px;
  display: inline-block;
  color: #fff;
  padding: 5px 8px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: normal;
  border-radius: 3px;
  border: none;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background: #4c69ba;
  background: -moz-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #3b55a0)
  );
  background: -webkit-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
  background: -o-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
  background: -ms-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
  background: linear-gradient(to bottom, #4c69ba 0%, #3b55a0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c69ba', endColorstr='#3b55a0', GradientType=0 );
}
